@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "ShowUserRoles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="bg-primary text-white m-1 p-1">
    Role List
</div>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="m-1 p-1 table table-bordered table-striped">
    <tr>
        <th>Role Id</th>
        <th>Role Name</th>
        <th>Users</th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-centered">No User</td>
        </tr>
    }
    else
    {
        foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td identity-role="@user.Id"></td>
                <td>
                    <form asp-action="Delete" method="post" asp-route-id="@user.Id">

                        <button type="submit" value="delete" class="btn btn-danger">
                            Delete
                        </button>

                        <button asp-action="Update" class="btn btn-success" asp-for="Update" asp-route-id="@user.Id">Update</button>
                    </form>
                </td>



            </tr>
        }
    }
</table>


<a asp-action="create" class="btn btn-primary">Create User</a>









